{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 180,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^(.*)/types$", "^[./]"]
}
